/lzw
/textfiles
/visualization
__pycache__
*.vscode
*.o
/lzwcpp/test
*.out
*main
*a.out
/lzwcpp/lzw
/lzwcpp/test_bitio
/lzwcpp/lzwencode
/lzwcpp/lzwdecode
/lzwcpp/test_lzw
/lzwcpp/DNACorpus*